@use '../variables/variable'; // 變數要加 attribute，避免混淆; 不可當全域使用

body {
    background-color: variable.$color-bg !important;
}

// 此為測試註解
.side-nav {
    background-color: variable.$color-nav;
    position: fixed;
    width: 350px;
    height: 100vh;
    // test
    // background-image: url('../images/test.png');
    .logo {
        font-size: variable.$logo-font-size;
        color: variable.$color-text;
    }
    ul {
        width: 330px;
        li {
            width: 100%;
            height: 50px;
            background-color: variable.$color-sub-nav;
            list-style-type: none;
            font-size: variable.$side-nav-font-size;
            cursor: pointer;
            span {
                color: variable.$color-nav;
            }
        }
        .side-sub-nav {
            a {
                background-color: variable.$color-bg;
                color: variable.$color-sub-nav;
                text-decoration: none;
            }
            .side-sub-nav-btn {
                height: 40px;
            }
        }
    }
}

main {
    width: calc(100% - 350px);
    height: 100vh;
    background-color: variable.$color-bg;
    .canvas-container {
        height: 50vw;
    }
}