@import "custom";
@import "~bootstrap/scss/bootstrap";


body {
    background-color: $bg !important;
}

.container {
    background: linear-gradient(to top, yellow, green);
    height: 100vh;
    // background-image: url('../images/test.png');
}